<!DOCTYPE html>

<head>


    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cards </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <div class="icon">
                        <mat-icon>perm_identity</mat-icon>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>
                        soci registrati:
                    </h3>
                    <h2> {{ contSoci }} </h2>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <div class="icon">
                        <mat-icon>directions_car</mat-icon>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>
                        auto registrate:
                    </h3>
                    <h2> {{ contAuto }}</h2>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <div class="icon">
                        <mat-icon>event</mat-icon>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>
                        eventi registrati:
                    </h3>
                    <h2> {{ contEventi }}</h2>
                </div>
            </div>
        </div>
    </div>

</body>
<!--      -------------------------------------                -->
<!--
<div class="grid-container">

    <mat-grid-list cols="3" rowHeight="2:1">

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="card">
                soci
            </div>
        </mat-grid-tile>


        <mat-grid-tile>
            auto
        </mat-grid-tile>


        <mat-grid-tile>

            eventi

        </mat-grid-tile>


        <mat-grid-tile [colspan]="3">

            visualizza soci

        </mat-grid-tile>


        <mat-grid-tile [colspan]="3">

            <app-table-event></app-table-event>

        </mat-grid-tile>
    </mat-grid-list>


</div>   -->

<mat-grid-list cols="2">
    <mat-grid-tile *ngFor="let carta of carte2 | async" [colspan]="carta.cols" [rowspan]="carta.rows">
        <mat-card class="dashboard-card">
            <mat-card-header>
                <!--<mat-card-title>
            {{carta.title}}
             Bottoni Extra Inserisci/Visualizza Evento
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menuEventi" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menuEventi="matMenu" xPosition="before">
              <button routerLink = '../newEvent' mat-menu-item>Nuovo Evento</button>
              <button routerLink = '../showEvent' mat-menu-item>Visualizza Eventi</button>
            </mat-menu>
          </mat-card-title>-->
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
                <div class="example-container mat-elevation-z8">
                    <app-table-event></app-table-event>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>


<!--<app-table-event></app-table-event>
<img mat-card-image src="../assets/images/homeFixed.png">-->