.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

table {
  width: 100%;
}

.banner{
  border: 1px dotted black;
  width: 85em;
  height: 410px;
  border-radius: 5px;
}

.example-container {
  height: 260px;
  overflow: auto;
}

td{
  text-align: left;
}