<form [formGroup]="addressForm" novalidate>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Registrazione nuova iscrizione</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <!-- SELECT EVENTO-->
        <div class="col">
          <mat-form-field class="width">
            <mat-label>Scegli un evento</mat-label>
            <mat-select [(value)]="selected" formControlName="id_evento" matInput placeholder="codice evento" #input>
              <mat-option *ngFor="let evento of elenco_eventi" value="{{evento}}">{{evento}}</mat-option>
            </mat-select>
            <mat-error *ngIf="addressForm.controls['id_evento'].hasError('required')">
              Codice evento <strong>obbligatorio!</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <!-- CODICE EVENTO DA RIMUOVERE IN CASO SI USASSE LA SELECT
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Codice evento" formControlName="id_evento">
            <mat-error *ngIf="addressForm.controls['id_evento'].hasError('required')">
              Codice <strong>obbligatorio!</strong>
            </mat-error>
          </mat-form-field>
        </div>-->
      </div>
      <div class="row">
        <!-- TARGA AUTO PER RICERCA DB-->
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput maxlength="7" placeholder="Targa" formControlName="targa">
            <mat-error *ngIf="addressForm.controls['targa'].hasError('required')">
              Targa <strong>obbligatoria!</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <!-- POSTI DISPONIBILI READONLY, PRENDERE INFO DA DB-->
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Posti disponibili //ReadOnly" formControlName="posti" type="number" readonly="readonly">
          </mat-form-field>
        </div>
        <!-- ISCRITTI READONLY, PRENDERE INFO DA DB-->
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="number" name="quantity" min="1" max="5" placeholder="Partecipanti iscritti" formControlName="iscritti">
            <mat-error *ngIf="addressForm.controls['iscritti'].hasError('required')">
              Partecipanti iscritti <strong>obbligatori!</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Registra iscrizione</button>
    </mat-card-actions>
  </mat-card>
</form>
