<div class="container"> 
    <h3 mat-dialog-title><strong>Edit auto con targa: {{data.targa}}</strong></h3>
  
    <form [formGroup]="autoForm" class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input [disabled]="true"class="form-control" placeholder="Targa" [(ngModel)]="data.targa" formControlName="targa" name="targa" readonly="readonly">
        </mat-form-field>
      </div>
    
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Tessera proprietario" [(ngModel)]="data.tessera_socio" formControlName="tessera_socio" name="tessera_socio" >
        </mat-form-field>
      </div>
  
    
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Marca" [(ngModel)]="data.marca" formControlName="marca" name="marca" >
        </mat-form-field>
      </div>
  
      <div class="form">
          <mat-form-field color="accent">
            <input matInput #input class="form-control" placeholder="Modello" [(ngModel)]="data.modello" formControlName="modello" name="modello">
          </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Anno" [(ngModel)]="data.anno" formControlName="anno" name="anno">
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Immatricolazione" [(ngModel)]="data.immatricolazione" formControlName="immatricolazione" name="immatricolazione">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="ASI" [(ngModel)]="data.asi" formControlName="asi" name="asi">
        </mat-form-field>
      </div>
  
      <div mat-dialog-actions>
        <button class="btn_blue" mat-button type="submit" [mat-dialog-close]="1" (click)="stopEdit()">Salva</button>
        <button class="btn_blue" mat-button (click)="onNoClick()" tabindex="-1">Cancella</button>
      </div>
    </form>
  </div>