<div class="container">
    <h3 mat-dialog-title><strong>Sei sicuro di volere eliminare l'iscrizione?</strong></h3>
    <div mat-dialog-content>
      <strong>Codice Evento:</strong> {{data.cod_evento}}
      <p></p>
      <strong>Nome evento:</strong> {{data.nome_evento}}
      <p></p>
      <strong>Targa iscritta:</strong> {{data.targa}}
      <p></p>
      <strong>Costo unitario:</strong> {{data.costo_unitario}}
      <p></p>
      <strong>Posti disponibili:</strong> {{data.posti_disponibili}}
      <p></p>
      <strong>Numero iscritti:</strong> {{data.partecipanti_iscritti}}
      <p></p>
      <strong>Presenti:</strong> {{data.partecipanti_effettivi}}
      <p></p>
    </div>
    <div mat-dialog-actions>
      <button class="btn_blue" mat-button mat-dialog-close="1" (click)="confirmDelete()">Elimina Iscrizione</button>
      <button class="btn_blue" mat-button (click)="onNoClick()" tabindex="-1">Annulla</button>
    </div>
  </div>