<div class="container">
    <h3 mat-dialog-title><strong>Edit socio con tessera: {{data.tessera}}</strong></h3>
  
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input [disabled]="true" class="form-control" placeholder="Tessera" [(ngModel)]="data.tessera" name="tessera" readonly="readonly">
        </mat-form-field>
      </div>
  
    
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Validità" [(ngModel)]="data.validita" name="validita" >
        </mat-form-field>
      </div>
  
    
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Nome" [(ngModel)]="data.nome" name="nome" >
        </mat-form-field>
      </div>
  
      <div class="form">
          <mat-form-field color="accent">
            <input matInput #input class="form-control" placeholder="Cognome" [(ngModel)]="data.cognome" name="cognome">
          </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Nato il" [(ngModel)]="data.nato_il" name="nato_il">
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Codice fiscale" [(ngModel)]="data.codice_fiscale" name="codice_fiscale">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Indirizzo" [(ngModel)]="data.indirizzo" name="indirizzo">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Email" [(ngModel)]="data.email" name="email">
        </mat-form-field>
      </div>
  
      <div mat-dialog-actions>
        <button class="btn_blue" mat-button type="submit" [mat-dialog-close]="1" (click)="stopEdit()">Salva</button>
        <button class="btn_blue" mat-button (click)="onNoClick()" tabindex="-1">Cancella</button>
      </div>
    </form>
  </div>