<button routerLink='home' class="menu" mat-button>
  <span class="material-icons">home1</span>  HOME</button>

<button class="menu" mat-button [matMenuTriggerFor]="menuSoci"><span class="material-icons md-48">face1</span>   SOCI/AUTO</button>
<mat-menu #menuSoci="matMenu">
    <button routerLink='newMember' mat-menu-item><span class="material-icons">personadd1</span>Registra Socio/Auto</button>
    <button routerLink='showMember' mat-menu-item><span class="material-icons">groups11</span>Visualizza Soci</button>
    <button routerLink='showCar' mat-menu-item><span class="material-icons">directions_car11</span>Visualizza Auto</button>
</mat-menu>

<button class="menu" mat-button [matMenuTriggerFor]="menuEventi"><span class="material-icons">event1</span>   EVENTI</button>
<mat-menu #menuEventi="matMenu">
    <button routerLink='newEvent' mat-menu-item><span class="material-icons">edit_calendar11</span>Nuovo Evento   </button>
    <button routerLink='showEvent' mat-menu-item><span class="material-icons">event_note11</span>Visualizza Eventi</button>
</mat-menu>

<button class="menu" class="menu" mat-button [matMenuTriggerFor]="menuIscrizioni"><span class="material-icons">create1</span>   ISCRIZIONI</button>
<mat-menu #menuIscrizioni="matMenu">
    <button routerLink='newRegistration' mat-menu-item><span class="material-icons">editadd1</span>Nuova Iscrizione</button>
    <button routerLink='showPresence' mat-menu-item><span class="material-icons">checklist_rtl11</span>Visualizza Iscrizione</button>
</mat-menu>

<button class="menu" mat-button><span class="material-icons" (click)="logout()">logout1</span>LOGOUT</button>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">