<h2 class="title">Iscrizioni</h2>

<mat-form-field class = "find">
  <mat-label>Cerca in tutti i campi </mat-label>
  <input name="findAll" matInput (keyup)="allFilter($event)" placeholder="Inserisci testo" #input>
</mat-form-field>

<mat-form-field class="find">
  <mat-label>Cerca per Codice Evento</mat-label>
  <input name="findByCod_evento" matInput (keyup)="cod_eventoFilter($event)" placeholder="Inserisci Codice Evento"
    #input>
</mat-form-field>

<mat-form-field class="find">
  <mat-label>Cerca per Targa</mat-label>
  <input name="finByTarga" matInput (keyup)="targaFilter($event)" placeholder="Inserisci Targa" #input>
</mat-form-field>



<form  [formGroup]="registrationForm">
  <!-- (ngSubmit)="onSubmit()" -->

<div class="white">
  <mat-form-field >
    <mat-label >Seleziona un evento</mat-label>
    <mat-select class= "gap"  formControlName="nome_evento" matInput placeholder="Nome Evento" #inputSelect  [(ngModel)]="select" (ngModelChange)="onChange($event)" >
      <mat-option *ngFor="let name of elenco_nomi" [value]="name">{{name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-spinner style="margin: 0 auto"  *ngIf="isWait"></mat-spinner>
  <table *ngIf="!isWait" mat-table class="full-width-table" matSort aria-label="Iscrizioni">
    <!-- Id Column -->
    <ng-container matColumnDef="cod_evento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Codice Evento</th>
      <td mat-cell *matCellDef="let row">{{row.cod_evento}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nome_evento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome Evento</th>
      <td mat-cell *matCellDef="let row, let iscrizione" (click)="setActive(iscrizione)">{{row.nome_evento}}</td>
    </ng-container>

    <ng-container matColumnDef="targa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Targa Iscritta</th>
      <td mat-cell *matCellDef="let row">{{row.targa}}</td>
    </ng-container>

    <ng-container matColumnDef="costo_unitario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Costo Unitario</th>
      <td mat-cell *matCellDef="let row">{{row.costo_unitario}}</td>
    </ng-container>

    <ng-container matColumnDef="posti_disponibili">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Posti Disponibili</th>
      <td mat-cell *matCellDef="let row">{{row.posti_disponibili}}</td>
    </ng-container>

    <ng-container matColumnDef="partecipanti_iscritti">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Numero Iscritti</th>
      <td mat-cell *matCellDef="let row">{{row.partecipanti_iscritti}}</td>
    </ng-container>

    <ng-container matColumnDef="partecipanti_effettivi">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Presenti</th>
      <td mat-cell *matCellDef="let row">{{row.partecipanti_effettivi}}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row; let iscrizione;">
        <button mat-icon-button color="primary" (click)="startEdit(iscrizione)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="deleteItem(iscrizione)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Nessuna corrispondenza trovata</td>
    </tr>
  </table>

  <mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>

  <div class="checkout">

    <h2 class="title">Conferma Iscrizione</h2>

    <mat-form-field class="reg">
      <mat-label>Scegli una targa </mat-label>

      <mat-select [value]="selected" formControlName="targa" matInput placeholder="Targa" #input>
        <mat-option *ngFor="let targa of elenco_targhe_evento" [value]="targa">{{targa}}</mat-option>
      </mat-select>

      <!-- <input name = "targa" formControlName="targa" matInput placeholder="targa" #input maxlength="7"> -->
      <mat-error *ngIf="registrationForm.controls['targa'].hasError('required')">
        Targa <strong>obbligatoria!</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="reg">
      <mat-label>PARTECIPANTI</mat-label>
      <input name="partecipanti" formControlName="partecipanti" matInput placeholder="partecipanti" #input
        type="number">
      <mat-error *ngIf="registrationForm.controls['partecipanti'].hasError('required')">
        Numero partecipanti <strong>obbligatorio!</strong>
      </mat-error>
    </mat-form-field>

    <mat-card class="card">
      <mat-form-field>
        <input class="display" style="text-align: right;" matInput [disabled]=true value="{{setCosto()}} €"
          placeholder="Costo Totale" #input>
      </mat-form-field>
    </mat-card>
    <br />
    <div class="btn">
      <button mat-raised-button color="primary" type="submit" name="checkout" (click)='onSubmit()'>Registra
        pagamento</button>
    </div>

  </div>
</form>