<h2 class= "title">Eventi</h2>

<mat-form-field>
  <mat-label>Cerca in tutti i campi </mat-label>
  <input matInput (keyup)="allFilter($event)" placeholder="Inserisci testo" #input>
</mat-form-field>

<mat-form-field class="find">
  <mat-label>Cerca per Codice Evento</mat-label>
  <input matInput (keyup)="cod_eventoFilter($event)" placeholder="Inserisci Codice" #input>
</mat-form-field>

<mat-form-field class="find">
  <mat-label>Cerca per Nome Evento</mat-label>
  <input matInput (keyup)="nome_eventoFilter($event)" placeholder="Inserisci Nome Evento" #input>
</mat-form-field>

<mat-form-field class="find">
  <mat-label>Cerca per Location</mat-label>
  <input matInput (keyup)="locationFilter($event)" placeholder="Inserisci Location" #input>
</mat-form-field>

<mat-form-field class="find">
  <mat-label>Cerca per Data</mat-label>
  <input matInput (keyup)="dataFilter($event)" placeholder="Inserisci Data YYYY-MM-DD" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="cod_evento">
    <!-- Id Column -->
    <ng-container matColumnDef="cod_evento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Codice Evento</th>
      <td mat-cell *matCellDef="let row">{{row.cod_evento}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nome_evento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome Evento</th>
      <td mat-cell *matCellDef="let row">{{row.nome_evento}}</td>
    </ng-container>

    <ng-container matColumnDef="data_inizio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data Inizio</th>
      <td mat-cell *matCellDef="let row">{{row.data_inizio}}</td>
    </ng-container>

    <ng-container matColumnDef="data_fine">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data Fine</th>
      <td mat-cell *matCellDef="let row">{{row.data_fine}}</td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
      <td mat-cell *matCellDef="let row">{{row.location}}</td>
    </ng-container>

    <!--
    <ng-container matColumnDef="descrizione">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrizione</th>
      <td mat-cell *matCellDef="let row">{{row.descrizione}}</td>
    </ng-container>
    -->

    <ng-container matColumnDef="costo_unitario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Costo Unitario</th>
      <td mat-cell *matCellDef="let row">{{row.costo_unitario}}</td>
    </ng-container>

    <ng-container matColumnDef="posti_disponibili">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Posti Disponibili</th>
      <td mat-cell *matCellDef="let row">{{row.posti_disponibili}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Nessuna corrispondenza trovata</td>
    </tr>

  </table>

  <mat-paginator #paginator 
  [length]="dataSource?.data?.length" 
  [pageIndex]="0" 
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>

  <form [formGroup]="registrationForm" >
    <mat-form-field class="reg">
      <mat-label>Scegli Codice evento</mat-label>
      <mat-select [(value)]="selected" formControlName="cod_evento" matInput placeholder="Codice evento" #input>
        <mat-option *ngFor="let evento of elenco_eventi" value="{{evento}}">{{evento}}</mat-option>
      </mat-select>
      <mat-error *ngIf="registrationForm.controls['cod_evento'].hasError('required')">
        Codice evento <strong>obbligatorio!</strong>
      </mat-error>
    </mat-form-field>
    <div class="btn">
      <button mat-raised-button  color="primary" type="submit" value="delete" (click)="onDelete()">Cancella Evento</button>
    </div>
    <button mat-raised-button color="primary" type="submit" value="modifica" (click)="onUpdate()">Modifca Evento</button>
  </form>
</div>