<h2>SOCI</h2>

<mat-form-field>
  <mat-label>Cerca in tutti i campi</mat-label>
  <input matInput (keyup)="allFilter($event)" placeholder="Inserisci testo" #input>
</mat-form-field>

<mat-form-field class="find">
  <mat-label>Cerca per Tessera</mat-label>
  <input matInput (keyup)="tesseraFilter($event)" placeholder="Inserisci Numero Tessera" #input>
</mat-form-field>

<mat-form-field class="find">
  <mat-label>Cerca per Nome</mat-label>
  <input matInput (keyup)="nomeCognomeFilter($event)" placeholder="Inserisci Nome o Cognome" #input>
</mat-form-field>

<mat-form-field class="find">
  <mat-label>Cerca per Codice Fiscale</mat-label>
  <input matInput (keyup)="cfFilter($event)" placeholder="Inserisci Codice Fiscale" #input>
</mat-form-field>

<mat-form-field class="find">
  <mat-label>Cerca per email</mat-label>
  <input matInput (keyup)="emailFilter($event)" placeholder="Inserisci email" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="tessera">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Numero Tessera</th>
      <td mat-cell *matCellDef="let row">{{row.tessera}}</td>
    </ng-container>

    <ng-container matColumnDef="validita">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Validita</th>
      <td mat-cell *matCellDef="let row">{{row.validita}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
      <td mat-cell *matCellDef="let row">{{row.nome}}</td>
    </ng-container>

    <ng-container matColumnDef="cognome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cognome</th>
      <td mat-cell *matCellDef="let row">{{row.cognome}}</td>
    </ng-container>

    <ng-container matColumnDef="nato_il">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data di Nascita</th>
      <td mat-cell *matCellDef="let row">{{row.nato_il}}</td>
    </ng-container>

    <ng-container matColumnDef="codice_fiscale">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Codice Fiscale</th>
      <td mat-cell *matCellDef="let row">{{row.codice_fiscale}}</td>
    </ng-container>

    <ng-container matColumnDef="indirizzo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Indirizzo</th>
      <td mat-cell *matCellDef="let row">{{row.indirizzo}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>

    <ng-container matColumnDef="consiglio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Consiglio</th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox [checked]="row.consiglio" [disabled]=true></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="segretario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Segretario</th>

      <td mat-cell *matCellDef="let row">
        <mat-checkbox [checked]="row.segretario" [disabled]=true></mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Nessuna corrispondenza trovata</td>
    </tr>
  </table>

  <mat-paginator #paginator 
  [length]="dataSource?.data?.length" 
  [pageIndex]="0" 
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>

  <form [formGroup]="registrationForm" >
    <mat-form-field class="reg">
      <mat-label>Scegli ID Tessera</mat-label>
      <mat-select [(value)]="selected" formControlName="tessera" matInput placeholder="Tessera" #input>
        <mat-option *ngFor="let tessera of elenco_tessere" value="{{tessera}}">{{tessera}}</mat-option>
      </mat-select>
      <mat-error *ngIf="registrationForm.controls['tessera'].hasError('required')">
        Tessera <strong>obbligatoria!</strong>
      </mat-error>
    </mat-form-field>
    <div class="btn_delete">
      <button mat-raised-button  color="primary" type="submit" value="delete" (click)="onDelete()">Cancella Socio</button> 
    </div>
    <button mat-raised-button color="primary" type="submit" value="modifica" (click)="onUpdate()">Modifca</button>
  </form>
</div>
