.full-width {
    width: 100%;
}

.form-auto {
    min-width: 120px;
    margin: 20px auto;
}

.mat-radio-button {
    display: block;
    margin: 5px 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1;
    margin-right: 20px;
}

.col:last-child {
    margin-right: 0;
}

.example-section {
    margin-top: 10px;
}

.hr {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
    height: 3px;
    border-width: 0;
    color: black;
    background-color: black;
}

.margin {
    margin-top: 20px;
    padding: 5px 5px 5px 5px;
    margin-right: 70%;
    border-bottom: 1px solid gray;
}

.margin_input {
    margin-top: 5px;
}

.image {
    padding-right: 5px;
    margin-top: 10px;
    width: auto;
    max-height: 200px;
}

.field {
    width: 20%;
    margin-right: 10px;
}

input[type="file"] {
    display: none;
}

input[type="button"] {
    display: none;
}

.custom-file-upload {
    background-color: rgb(3, 169, 244);
    color: white;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 100%;
    font-weight: 450;
}

#input_css {
    margin-left: 15%;
}

.title {
    margin-top: 1em;
    font-family: Pattaya;
    font-size: 2em;
    font-style: oblique;
    text-shadow: 2px, 2px, 5px, black;
}

body {
    position: absolute;
}

.back {
    z-index: -1;
}

::ng-deep .coloreRed {
    background-color: rgb(255, 0, 0);
    color: white;
}

::ng-deep .coloreBlue {
    background-color: rgb(53, 209, 39);
    color: white;
}

::ng-deep .coloreRed .mat-simple-snackbar-action {
    color: white;
    background-color: rgb(255, 68, 68);
    border-radius: 3px;
}

::ng-deep .coloreBlue .mat-simple-snackbar-action {
    color: white;
    background-color: rgb(121, 236, 111);
    border-radius: 3px;
}

.info{
    font-size: small;
}

.tessera{
    width: 30%;
}